@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Montserrat, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  --neutralWhite : #D9D9D9;
  /* --neutralWhite : #ededed; */
  --fullWhite : #ffff;
  --neutralDark : #3A3A3A;
  --fullDark : #2D2D2D;

  --accentRed : #DE3343;
  --accentGreen : #72B356;

  --borderRadius : 15px;



}

body {
  margin: 0;
  background-color: var(--neutralWhite);
}




/* big size */

.logoCompBig {
  display: flex;
}

.logoCompSvgBig {
  aspect-ratio: 1/1;
  width: 120px;
}

.logoCompBig .logoTextSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 12px;
}

.logoCompBig .logoTextSection h2 {
  margin: 0px;
  font-size: 72px;
}

.logoCompBig .logoTextSection p {
  margin: 0px;
  position: relative;
  top: -15px;
  font-size: 20px
}





/* medium size */

.logoCompMedium {
  display: flex;
}

.logoCompSvgMedium {
  aspect-ratio: 1/1;
  width: 80px;
}

.logoCompMedium .logoTextSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 12px;
}

.logoCompMedium .logoTextSection h2 {
  margin: 0px;
  font-size: 48px;
}

.logoCompMedium .logoTextSection p {
  margin: 0px;
  position: relative;
  top: -8px;
  font-size: 20px
}




/* small size */

.logoCompSmall {
  display: flex;
}

.logoCompSvgSmall {
  aspect-ratio: 1/1;
  width: 40px;
}

.logoCompSmall .logoTextSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 12px;
}

.logoCompSmall .logoTextSection h2 {
  margin: 0px;
  font-size: 24px;
}

.logoCompSmall .logoTextSection p {
  margin: 0px;
  position: relative;
  top: -2px;
  font-size: 10px
}

.logoTextSection.light h2 {
  color: white;
  font-size: 38px;
}

.logoTextSection.light p {
  color: white;
  font-size: 16px;
  display: none;
}

.logoCompSvgMedium.lightSvg {
  aspect-ratio: 1/1;
  width: 60px;
}

.sideMenuLogo {
  margin: 25px 0px;
}



a {
  text-decoration: none;
}


.popup {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupBody {
  width: 700px;
  height: 700px;
  background-color: var(--neutralWhite);
  border-radius: var(--borderRadius);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  position: relative;
}

.popupBody::-webkit-scrollbar {
  width: 00px;
}



/* .bodyInput input {
  width: 90%;
  font-size: 24px;
  padding: 10px;
  border: none;
  border-radius: var(--borderRadius);
  background-color: var(--neutralWhite);
  margin: 0px 10px;
} */


.commentElement {
  display: flex;
  margin: 10px 0px;
  border-bottom: 1px solid var(--fullWhite);
}

/* .commentElement:first-child {
  background-color: red;
} */

.commentElement .pfpSide img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0px 10px 0px 20px;
  background-color: var(--neutralDark);
}

.commentElement .textSide {
  flex-grow: 1;
}

.commentElement .textSide .usernameText {
  display: flex;
  align-items: center;
  gap: 10px;
}

.commentElement .textSide .usernameText p {
  margin: 0px 0px 0px 10px;
}

.commentElement .textSide .usernameText img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--neutralDark);
  cursor: pointer;
}

.commentElement .textSide .messageText p {
  /* margin: 5px 5px 10px 5px;
  padding: 5px 10px; */
  width: fit-content;
  margin: 5px 5px 10px 5px;
}

.voteSection {
  border-radius: var(--borderRadius);
  background-color: var(--fullWhite);
  margin: 5px 5px 10px 5px;
  padding: 5px 10px;
  display: flex;
  gap: 10px;
  width: fit-content;
}

.voteSection p {
  margin: 0px;
}

.voteSection img {
  cursor: pointer;
}




.popupInput {
  background-color: var(--fullWhite);
  position: sticky;
  bottom: 0px;
  display: flex;
}

.popupInput input {
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 24px;
  padding: 8px 10px;
  border-radius: var(--borderRadius);
  margin: 5px;
  width: 100%;
}

.popupInput button {
  background-color: transparent;
  border: 2px solid var(--neutralDark);
  border-radius: var(--borderRadius);
  margin: 5px;
  color: var(--neutralDark);
  font-weight: 800;
  cursor: pointer;
  padding: 5px 15px;
}

.allComments {
  height: 100%;
}








.popupHeader {
  width: 700px;
  display: flex;
  justify-content: space-between;
  background-color: var(--accentRed);
  position: fixed;
  border-radius: var(--borderRadius) var(--borderRadius) 0px 0px;
}

.popupHeader h3 {
  color: white;
  margin: 10px;
}

.popupHeader p {
  color: white;
  margin: 10px 20px;
  cursor: pointer;
  border-radius: 50%;
  transform: scale(1.5);
}









